.myWork {
    text-align: center;
    padding: 50px;
}

.mySkills {
    text-align: center;
    padding: 20px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}

.flexChild {
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f1f8ef;
}

.flexChild img {
    max-width: 100%;
    height: auto;
}

.flexChild h3 {
    margin-top: 10px;
}

.flexChild p {
    margin-top: 10px;
}

/* Mobile Media Query */
@media only screen and (max-width: 600px) {
 
    .flexContainer {
        flex-direction: column; 
    }

    .flexChild {
        width: 100%; 
    }

    .myWork {
        grid-template-areas:
            "image"
            "details"
            "image"
            "details";
        grid-template-rows: auto auto auto auto; 
        grid-template-columns: 1fr; 
    }

    .workItem {
        grid-template-areas:
            "image"
            "details";
    }
}
